* {                                 /* zera alguns valores que já vêm pré-configurados na página */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);        /* adiciona degradê no fundo da página */
    background-size: cover;
    background-attachment: fixed;       /* garante que o degradê não 'quebre' com o decorrer da página */
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}